@import "../01-variables/_all-variables.styl"


t-root()
	font-family Arial
	font-size $fsroot
	font-weight normal
	line-height $lhroot
t-10()
	font-size $fs10
	line-height $lh10
t-12()
	font-size $fs12
	line-height $lh12
t-14()
	font-size $fs14
	line-height $lh14
t-16()
	font-size $fs16
	line-height $lh16
t-18()
	font-size $fs18
	line-height $lh18
t-20()
	font-size $fs20
	line-height $lh20
t-24()
	font-size $fs24
	line-height $lh24
t-30()
	font-size $fs30
	line-height $lh30
t-36()
	font-size $fs36
	line-height $lh36


