// *************************************
//
//   New UI
//
// *************************************

// ***** buttons ***** 11/5/16
$btn-pri-border = #0081c3
$btn-pri-font = #333333
$btn-sec-border = #cccccc




// *************************************
//
//   Colors
//
// *************************************
// ***** Warm *****
$red-drk =	    			#6f1200;
$red-deep =  				#cc3300;
$red-med =	    			#ff0000;
$red-lt =		        		#f2d7d7;
$orange-drk =	        		#f26522;
$orange-med =		        	#ec891d;
$orange-lt =	       			#fab86f;
$orange-pale = 	    	    #ffd6a8;
$peach-med =		       		#fdd395;
$peach-lt =	    			#fee5a8;
$butter =		        		#ffeebb;
$butter-pale =	    		#fff6df;
$pale-sun =                   #fffbef;
// ***** Blues *****
$blue-drk =		    		#005596;
$blue-deep =		    		#3265aa;
$blue-bright =		    	#3399ff;
$blue-med =			    	#6fa7d0;
$slate =                      #7b9db9;
$blue-med-lt =		    	#9dc5e0;
$blue-lt =		    		#d0e6f5;
$blue-pale =			    	#e8f2f9;
$blue-pale-lt =               #f4f9fc;
// ***** Greens *****
$emerald-drk =		    	#006227;
$emerald-deep =		        #4d9268;
$emerald-med =		    	#99ccaa;
$emerald-pale =		        #e6f2eb;
$grass-drk =				    #46661a;
$grass-med-drk =              #7c9757;
$grass-med =				    #b1c793;
$grass-lt =				    #d3e6b8;
$grass-pale =			        #edf2e6;
// ***** Violets *****
$violet-drk =			        #7b3bab;
$violet-med =			        #a578c5;
$violet-lt =				    #cfb5df;
$violet-pale =			    #f9f2f9;
// ***** Grays *****
$black =					    #000000;
$gray-deep =				    #333333;
$gray-drk =				    #666666;
$gray-med =				    #999999;
$gray-med-med =               #a8a8a8;
$gray-med-lt =			    #cccccc;
$gray-lt =				    #dddddd;
$gray-pale =				    #efefef;
$gray-expedia-bg =            #f2f2f2;
$gray-pale-lt =               #f5f5f5;
$white =					    #ffffff;
// ***** Currency *****
$currency =                   #999999;
// ***** Loyalty Expedia *****
$expedia-blue-head =          #5e8aa9;
$expedia-blue-subhead =       #afc5d4;
$expedia-blue-zebrastripe =   #f1f5f8;
$expedia-silver-head =        #b4b6b6;
$expedia-silver-subhead =     #d9dbdb;
$expedia-silver-zebrastripe = #f6f6f6;
$expedia-gold-head =          #f2b238;
$expedia-gold-subhead =       #f9d99b;
$expedia-gold-zebrastripe =   #fdf5e6;
// ***** Loyalty Hotels *****
$welcome-purple-head =        #990066;
$welcome-silver-head =        #4e4e4e;
$welcome-gold-head =          #c79339;
$welcome-purple-sec =         #ead0e4;
$welcome-silver-sec =         #dcdcdc;
$welcome-gold-sec =           #ebc300;
// ***** Loyalty Orbitz *****
$orbitz-silver =              #9a9a9a;
$orbitz-gold =                #c89e21;
$orbitz-platinum =            #424242;
// ***** Loyalty CheapTickets - CheapCash *****
$cheapcash-bg =               #800400;
// ***** Loyalty Barclays *****
$barclays-bg =                #017eb6;
// ***** Loyalty Payback *****
$payback-bg =                 #1D63AF;
// ***** Maximiles Payback *****
$maximiles-bg =               #e82382;
// ***** Nectar Payback *****
$nectar-bg =                  #7a4092;
// ***** TDBank ***** 12/1/15
$tdbank-bg =                  #30b457;
// ***** UI Colors *****
$tripbar-icon-selected =      #f2f2f2;
$tripbar-icon-notselected =   #999999;
// ***** Flight Category Colors *****
$mrch-color =                 #b74940;
$lcc-color =                  #e88737;
$pub-color =                  #e8cb3a;
$charter-color =              #3aaf94;
// ***** Brand Colors *****
$branded-deals =              #477a00;
$expedia-yellow =             #ffcb00;
$expedia-blue =               #00355f;
// ***** Form Error Colors *****
$error-bg =                   #f2d7d7;
$error-border =               #ff0000;

$review-gold =                #dba801;

$ad-vc-module-color =         $gray-med-lt;
$ad-vc-module-error-color =   $red-med;

$header-module          =   #999999;
$header-module-underline = #cccccc;

$date-startdate-dow = #666666;

// ***** Email Escalation Colors ***** 3/3/16
//$cust-dark = darken($blue-pale, 3%);
//$cust-dark-hover = $blue-pale;
//$cust-light $blue-pale-lt;
//
//$exec-dark lighten($gray-lt, 3%);
//$exec-dark-hover lighten($gray-lt, 6%);
//$exec-light lighten($gray-pale, 3.5%);
//
//$agent-dark $grass-lt;
//$agent-dark-hover lighten($grass-lt, 6%);
//$agent-light $grass-pale;
