
//////////////////////////////
///
///   Text Colors
///
//////////////////////////////
      $text-dark = #222222;

      $text-med = #666666;

      $text-light = #888888;

      $text-alert = #df7300;

      $text-white = #ffffff;

      $text-green = #008000;

//////////////////////////////
///
///   Container Colors
///
//////////////////////////////
      $itin-container-bg = #6fa7d0;

      $itinerary-background = #eeeeee;

      $segment-title-bg = #f0f0f0;

      $itin-container-bg = #6fa7d0;

      $itinerary-module-open = #dae8f3;

      $open-module-hover = #f1f6fa;

//////////////////////////////
///
///   Button Colors
///
//////////////////////////////
      $button-dark = #006600;

      $button-dark-hover = #003300;

      $button-light = #ffffff;

      $button-light-hover = #eeeeee;

      $button-submit = #ffcb00;

      $button-submit-hover = #fecc2d;

      $button-disabled = #cccccc;

      $new-link = #2790ff;

      $new-link-hover = #0069d1;

//////////////////////////////
///
///   Alert Colors
///
//////////////////////////////
      $alert-error-bg = #006600;

      $alert-error-border = #003300;

      $button-light = #ffffff;

      $button-light-hover = #eeeeee;

      $button-submit = #ffcb00;

      $button-submit-hover = #fecc2d;

      $button-disabled = #cccccc;

      $new-link = #2790ff;

      $new-link-hover = #0069d1;

