.red-drk
	background-color $red-drk
.red-deep
	background-color $red-deep
.red-med
	background-color $red-med
.red-lt
	background-color $red-lt
.orange-drk
	background-color $orange-drk
.orange-med
	background-color $orange-med
.orange-lt
	background-color $orange-lt
.orange-pale
	background-color $orange-pale
.peach-med
	background-color $peach-med
.peach-lt
	background-color $peach-lt
.butter
	background-color $butter
.butter-pale
	background-color $butter-pale
.pale-sun
	background-color $pale-sun
.blue-drk
	background-color $blue-drk
.blue-deep
	background-color $blue-deep
.blue-bright
	background-color $blue-bright
.blue-med
	background-color $blue-med
.slate
	background-color $slate
.blue-med-lt
	background-color $blue-med-lt
.blue-lt
	background-color $blue-lt
.blue-pale
	background-color $blue-pale
.blue-pale-lt
	background-color $blue-pale-lt
.emerald-drk
	background-color $emerald-drk
.emerald-deep
	background-color $emerald-deep
.emerald-med
	background-color $emerald-med
.emerald-pale
	background-color $emerald-pale
.grass-drk
	background-color $grass-drk
.grass-med-drk
	background-color $grass-med-drk
.grass-med
	background-color $grass-med
.grass-lt
	background-color $grass-lt
.grass-pale
	background-color $grass-pale
.violet-drk
	background-color $violet-drk
.violet-med
	background-color $violet-med
.violet-lt
	background-color $violet-lt
.violet-pale
	background-color $violet-pale
.black
	background-color $black
.gray-deep
	background-color $gray-deep
.gray-drk
	background-color $gray-drk
.gray-med
	background-color $gray-med
.gray-med-med
	background-color $gray-med-med
.gray-med-lt
	background-color $gray-med-lt
.gray-lt
	background-color $gray-lt
.gray-pale
	background-color $gray-pale
.gray-expedia-bg
	background-color $gray-expedia-bg
.gray-pale-lt
	background-color $gray-pale-lt
.white
	background-color $white
.currency
	background-color $currency
.expedia-blue-head
	background-color $expedia-blue-head
.expedia-blue-subhead
	background-color $expedia-blue-subhead
.expedia-blue-zebrastripe
	background-color $expedia-blue-zebrastripe
.expedia-silver-head
	background-color $expedia-silver-head
.expedia-silver-subhead
	background-color $expedia-silver-subhead
.expedia-silver-zebrastripe
	background-color $expedia-silver-zebrastripe
.expedia-gold-head
	background-color $expedia-gold-head
.expedia-gold-subhead
	background-color $expedia-gold-subhead
.expedia-gold-zebrastripe
	background-color $expedia-gold-zebrastripe
.welcome-purple-head
	background-color $welcome-purple-head
.welcome-silver-head
	background-color $welcome-silver-head
.welcome-gold-head
	background-color $welcome-gold-head
.welcome-purple-sec
	background-color $welcome-purple-sec
.welcome-silver-sec
	background-color $welcome-silver-sec
.welcome-gold-sec
	background-color $welcome-gold-sec
.orbitz-silver
	background-color $orbitz-silver
.orbitz-gold
	background-color $orbitz-gold
.orbitz-platinum
	background-color $orbitz-platinum
.cheapcash-bg
	background-color $cheapcash-bg
.barclays-bg
	background-color $barclays-bg
.payback-bg
	background-color $payback-bg
.maximiles-bg
	background-color $maximiles-bg
.nectar-bg
	background-color $nectar-bg
.tdbank-bg
	background-color $tdbank-bg
.tripbar-icon-selected
	background-color $tripbar-icon-selected
.tripbar-icon-notselected
	background-color $tripbar-icon-notselected
.mrch-color
	background-color $mrch-color
.lcc-color
	background-color $lcc-color
.pub-color
	background-color $pub-color
.charter-color
	background-color $charter-color
.branded-deals
	background-color $branded-deals
.expedia-yellow
	background-color $expedia-yellow
.expedia-blue
	background-color $expedia-blue
.error-bg
	background-color $error-bg
.error-border
	background-color $error-border
.review-gold
	background-color $review-gold
.ad-vc-module-color
	background-color $ad-vc-module-color
.ad-vc-module-error-color
	background-color $ad-vc-module-error-color