.icon {
	+e(travelers) {
		&:before {
			content: '\e000';
			font-family: Icons;
			font-size: 18px;
			font-weight: normal;
		}
	}

	+e(traveler) {
		&:before {
			content: '\e001';
			font-family: Icons;
			font-size: 18px;
			font-weight: normal;
		}
	}

	+e(time) {
		&:before {
			content: '\e002';
			font-family: Icons;
			font-size: 18px;
			font-weight: normal;
		}
	}

	+e(timealt) {
		&:before {
			content: '\e02b';
			font-family: Icons;
			font-size: 18px;
			font-weight: normal;
		}
	}

	+e(notime) {
		&:before {
			content: '\e003';
			font-family: Icons;
			font-size: 18px;
			font-weight: normal;
		}
	}

	+e(roundtrip) {
		&:before {
			content: '\e004';
			font-family: Icons;
			font-size: 18px;
			font-weight: normal;
		}
	}

	+e(roundtripalt) {
		&:before {
			content: '\e02c';
			font-family: Icons;
			font-size: 18px;
			font-weight: normal;
		}
	}

	+e(location) {
		&:before {
			content: '\e006';
			font-family: Icons;
			font-size: 18px;
			font-weight: normal;
		}
	}

	+e(locationalt) {
		&:before {
			content: '\e02d';
			font-family: Icons;
			font-size: 18px;
			font-weight: normal;
		}
	}

	+e(phone) {
		&:before {
			content: '\e007';
			font-family: Icons;
			font-size: 18px;
			font-weight: normal;
		}
	}

	+e(mail) {
		&:before {
			content: '\e009';
			font-family: Icons;
			font-size: 18px;
			font-weight: normal;
		}
	}

	+e(mobile) {
		&:before {
			content: '\e012';
			font-family: Icons;
			font-size: 18px;
			font-weight: normal;
		}
	}

	+e(calendar) {
		&:before {
			content: '\e014';
			font-family: Icons;
			font-size: 18px;
			font-weight: normal;
		}
	}

	+e(calendaralt) {
		&:before {
			content: '\e02a';
			font-family: Icons;
			font-size: 18px;
			font-weight: normal;
		}
	}

	+e(luggage) {
		&:before {
			content: '\e015';
			font-family: Icons;
			font-size: 18px;
			font-weight: normal;
		}
	}

	+e(map) {
		&:before {
			content: '\e016';
			font-family: Icons;
			font-size: 18px;
			font-weight: normal;
		}
	}

	+e(viewed) {
		&:before {
			content: '\e017';
			font-family: Icons;
			font-size: 18px;
			font-weight: normal;
		}
	}

	+e(overnight) {
		&:before {
			content: '\e018';
			font-family: Icons;
			font-size: 18px;
			font-weight: normal;
		}
	}

	+e(oneway) {
		&:before {
			content: '\e019';
			font-family: Icons;
			font-size: 18px;
			font-weight: normal;
		}
	}

	+e(walk) {
		&:before {
			content: '\e01a';
			font-family: Icons;
			font-size: 18px;
			font-weight: normal;
		}
	}

	+e(sun) {
		&:before {
			content: '\e01c';
			font-family: Icons;
			font-size: 18px;
			font-weight: normal;
		}
	}

	+e(sunalt) {
		&:before {
			content: '\e01d';
			font-family: Icons;
			font-size: 18px;
			font-weight: normal;
		}
	}

	+e(seat) {
		&:before {
			content: '\e026';
			font-family: Icons;
			font-size: 18px;
			font-weight: normal;
		}
	}

	+e(star) {
		&:before {
			content: '\e038';
			font-family: Icons;
			font-size: 18px;
			font-weight: normal;
		}
	}

	+e(halfstar) {
		&:before {
			content: '\e036';
			font-family: Icons;
			font-size: 18px;
			font-weight: normal;
		}
	}

	+e(rss) {
		&:before {
			content: '\e037';
			font-family: Icons;
			font-size: 18px;
			font-weight: normal;
		}
	}

	+e(heart) {
		&:before {
			content: '\e03b';
			font-family: Icons;
			font-size: 18px;
			font-weight: normal;
		}
	}

	+e(heartalt) {
		&:before {
			content: '\e03a';
			font-family: Icons;
			font-size: 18px;
			font-weight: normal;
		}
	}

	+e(trend) {
		&:before {
			content: '\e040';
			font-family: Icons;
			font-size: 18px;
			font-weight: normal;
		}
	}

	+e(cardoors) {
		&:before {
			content: '\e041';
			font-family: Icons;
			font-size: 18px;
			font-weight: normal;
		}
	}

	+e(wifi) {
		&:before {
			content: '\e043';
			font-family: Icons;
			font-size: 18px;
			font-weight: normal;
		}
	}

	+e(onewayalt) {
		&:before {
			content: '\e044';
			font-family: Icons;
			font-size: 18px;
			font-weight: normal;
		}
	}

	+e(oneway) {
		&:before {
			content: '\e045';
			font-family: Icons;
			font-size: 18px;
			font-weight: normal;
		}
	}

	+e(accessible) {
		&:before {
			content: '\e046';
			font-family: Icons;
			font-size: 18px;
			font-weight: normal;
		}
	}

	+e(noimage) {
		&:before {
			content: '\e047';
			font-family: Icons;
			font-size: 18px;
			font-weight: normal;
		}
	}

	+e(snowflake) {
		&:before {
			content: '\e04b';
			font-family: Icons;
			font-size: 18px;
			font-weight: normal;
		}
	}

	+e(credit-card) {
		&:before {
			content: '\e04d';
			font-family: Icons;
			font-size: 18px;
			font-weight: normal;
		}
	}

	+e(tag) {
		&:before {
			content: '\e04e';
			font-family: Icons;
			font-size: 18px;
			font-weight: normal;
		}
	}

	+e(lock) {
		&:before {
			content: '\e04f';
			font-family: Icons;
			font-size: 18px;
			font-weight: normal;
		}
	}

	+e(comment) {
		&:before {
			content: '\e050';
			font-family: Icons;
			font-size: 18px;
			font-weight: normal;
		}
	}

	+e(bed) {
		&:before {
			content: '\e051';
			font-family: Icons;
			font-size: 18px;
			font-weight: normal;
		}
	}

	+e(bell) {
		&:before {
			content: '\e052';
			font-family: Icons;
			font-size: 18px;
			font-weight: normal;
		}
	}

	+e(required) {
		&:before {
			content: '\e056';
			font-family: Icons;
			font-size: 18px;
			font-weight: normal;
		}
	}

	+e(halfcircle) {
		&:before {
			content: '\e05b';
			font-family: Icons;
			font-size: 18px;
			font-weight: normal;
		}
	}

	+e(circle) {
		&:before {
			content: '\e05c';
			font-family: Icons;
			font-size: 18px;
			font-weight: normal;
		}
	}

	+e(returnarrow) {
		&:before {
			content: '\e05d';
			font-family: Icons;
			font-size: 18px;
			font-weight: normal;
		}
	}

	+e(power) {
		&:before {
			content: '\e05f';
			font-family: Icons;
			font-size: 18px;
			font-weight: normal;
		}
	}



	+e(help) {
		&:before {
			content: '\e005';
			font-family: Icons;
			font-size: 18px;
			font-weight: normal;
		}
	}

	+e(info) {
		&:before {
			content: '\e00c';
			font-family: Icons;
			font-size: 18px;
			font-weight: normal;
		}
	}

	+e(infoalt) {
		&:before {
			content: '\e054';
			font-family: Icons;
			font-size: 18px;
			font-weight: normal;
		}
	}

	+e(shop) {
		&:before {
			content: '\e00e';
			font-family: Icons;
			font-size: 18px;
			font-weight: normal;
		}
	}

	+e(shopalt) {
		&:before {
			content: '\e02e';
			font-family: Icons;
			font-size: 18px;
			font-weight: normal;
		}
	}

	+e(settings) {
		&:before {
			content: '\e010';
			font-family: Icons;
			font-size: 18px;
			font-weight: normal;
		}
	}



	+e(packages) {
		&:before {
			content: '\e008';
			font-family: Icons;
			font-size: 18px;
			font-weight: normal;
		}
	}

	+e(packagesalt) {
		&:before {
			content: '\e031';
			font-family: Icons;
			font-size: 18px;
			font-weight: normal;
		}
	}

	+e(hotels) {
		&:before {
			content: '\e00d';
			font-family: Icons;
			font-size: 18px;
			font-weight: normal;
		}
	}

	+e(hotelsalt) {
		&:before {
			content: '\e030';
			font-family: Icons;
			font-size: 18px;
			font-weight: normal;
		}
	}

	+e(cruise) {
		&:before {
			content: '\e00f';
			font-family: Icons;
			font-size: 18px;
			font-weight: normal;
		}
	}

	+e(cruisealt) {
		&:before {
			content: '\e028';
			font-family: Icons;
			font-size: 18px;
			font-weight: normal;
		}
	}

	+e(cars) {
		&:before {
			content: '\e013';
			font-family: Icons;
			font-size: 18px;
			font-weight: normal;
		}
	}

	+e(carsalt) {
		&:before {
			content: '\e028';
			font-family: Icons;
			font-size: 18px;
			font-weight: normal;
		}
	}

	+e(activities) {
		&:before {
			content: '\e048';
			font-family: Icons;
			font-size: 18px;
			font-weight: normal;
		}
	}

	+e(activitiesalt) {
		&:before {
			content: '\e01b';
			font-family: Icons;
			font-size: 18px;
			font-weight: normal;
		}
	}

	+e(flights) {
		&:before {
			content: '\e01f';
			font-family: Icons;
			font-size: 18px;
			font-weight: normal;
		}
	}

	+e(flightsalt) {
		&:before {
			content: '\e027';
			font-family: Icons;
			font-size: 18px;
			font-weight: normal;
		}
	}

	+e(train) {
		&:before {
			content: '\e02f';
			font-family: Icons;
			font-size: 18px;
			font-weight: normal;
		}
	}

	+e(trainalt) {
		&:before {
			content: '\e032';
			font-family: Icons;
			font-size: 18px;
			font-weight: normal;
		}
	}

	+e(shield) {
		&:before {
			content: '\e033';
			font-family: Icons;
			font-size: 18px;
			font-weight: normal;
		}
	}

	+e(bus) {
		&:before {
			content: '\e059';
			font-family: Icons;
			font-size: 18px;
			font-weight: normal;
		}
	}

	+e(house) {
		&:before {
			content: '\e05e';
			font-family: Icons;
			font-size: 18px;
			font-weight: normal;
		}
	}



	+e(pause) {
		&:before {
			content: '\e034';
			font-family: Icons;
			font-size: 18px;
			font-weight: normal;
		}
	}

	+e(play) {
		&:before {
			content: '\e035';
			font-family: Icons;
			font-size: 18px;
			font-weight: normal;
		}
	}

	+e(list) {
		&:before {
			content: '\e00a';
			font-family: Icons;
			font-size: 18px;
			font-weight: normal;
		}
	}

	+e(auth) {
		&:before {
			content: '\e00b';
			font-family: Icons;
			font-size: 18px;
			font-weight: normal;
		}
	}

	+e(toggle0) {
		&:before {
			content: '\e060';
			font-family: Icons;
			font-size: 18px;
			font-weight: normal;
		}
	}

	+e(toggle90) {
		&:before {
			content: '\e025';
			font-family: Icons;
			font-size: 18px;
			font-weight: normal;
		}
	}

	+e(toggle180) {
		&:before {
			content: '\e020';
			font-family: Icons;
			font-size: 18px;
			font-weight: normal;
		}
	}

	+e(toggle270) {
		&:before {
			content: '\e060';
			font-family: Icons;
			font-size: 18px;
			font-weight: normal;
		}
	}

	+e(expand) {
		&:before {
			content: '\e021';
			font-family: Icons;
			font-size: 18px;
			font-weight: normal;
		}
	}

	+e(collapse) {
		&:before {
			content: '\e062';
			font-family: Icons;
			font-size: 18px;
			font-weight: normal;
		}
	}

	+e(close) {
		&:before {
			content: '\e022';
			font-family: Icons;
			font-size: 18px;
			font-weight: normal;
		}
	}

	+e(print) {
		&:before {
			content: '\e023';
			font-family: Icons;
			font-size: 18px;
			font-weight: normal;
		}
	}

	+e(popup) {
		&:before {
			content: '\e024';
			font-family: Icons;
			font-size: 18px;
			font-weight: normal;
		}
	}

	+e(enlarge) {
		&:before {
			content: '\e039';
			font-family: Icons;
			font-size: 18px;
			font-weight: normal;
		}
	}

	+e(shrink) {
		&:before {
			content: '\e04a';
			font-family: Icons;
			font-size: 18px;
			font-weight: normal;
		}
	}

	+e(add) {
		&:before {
			content: '\e03e';
			font-family: Icons;
			font-size: 18px;
			font-weight: normal;
		}
	}

	+e(subtract) {
		&:before {
			content: '\e03d';
			font-family: Icons;
			font-size: 18px;
			font-weight: normal;
		}
	}

	+e(offcanvas) {
		&:before {
			content: '\e03c';
			font-family: Icons;
			font-size: 18px;
			font-weight: normal;
		}
	}

	+e(pagenext) {
		&:before {
			content: '\e03f';
			font-family: Icons;
			font-size: 18px;
			font-weight: normal;
		}
	}

	+e(pagebefore) {
		&:before {
			content: '\e061';
			font-family: Icons;
			font-size: 18px;
			font-weight: normal;
		}
	}

	+e(gridview) {
		&:before {
			content: '\e042';
			font-family: Icons;
			font-size: 18px;
			font-weight: normal;
		}
	}

	+e(search) {
		&:before {
			content: '\e049';
			font-family: Icons;
			font-size: 18px;
			font-weight: normal;
		}
	}

	+e(updown) {
		&:before {
			content: '\e04c';
			font-family: Icons;
			font-size: 18px;
			font-weight: normal;
		}
	}

	+e(headset) {
		&:before {
			content: '\e053';
			font-family: Icons;
			font-size: 18px;
			font-weight: normal;
		}
	}

	+e(reload) {
		&:before {
			content: '\e055';
			font-family: Icons;
			font-size: 18px;
			font-weight: normal;
		}
	}

	+e(share) {
		&:before {
			content: '\e057';
			font-family: Icons;
			font-size: 18px;
			font-weight: normal;
		}
	}

	+e(trash) {
		&:before {
			content: '\e058';
			font-family: Icons;
			font-size: 18px;
			font-weight: normal;
		}
	}

	+e(success) {
		&:before {
			content: '\e011';
			font-family: Icons;
			font-size: 18px;
			font-weight: normal;
		}
	}

	+e(warn) {
		&:before {
			content: '\e01e';
			font-family: Icons;
			font-size: 18px;
			font-weight: normal;
		}
	}

	+e(notification) {
		&:before {
			content: '\e05a';
			font-family: Icons;
			font-size: 18px;
			font-weight: normal;
		}
	}
}
