
.styleguide
	background-color #f2f2f2
.sg-introduction
	t-16()
	line-height 2.5rem
	color $text-med
	margin 20px 0
.example-block
	background-color $sgbg-white
	margin-top 20px
	padding 20px
	&.icons, &.colors
		float left
		margin-right: 2%
		width 17.75%
		&:nth-child(4n+1)
			margin-right 0
	&.colors
		padding 0
		width 23%
	.example-title
		border-bottom 1px solid $sgnav-section-title
	.example-title
		t-18()
		color #999999
		padding 0 0 20px
		width 100%
	.icon-example
		padding 20px 0
		span:before
			t-30()
			color $sgnav-text-link
	.icon-unicode
		t-14()
		border-top 1px solid $sgnav-section-title
		color $gray-drk
		padding 20px 0 0
	.example-grid
		clearfix()
		.example-cell
			float left
			margin 0 5% 30px 0
			max-height 100px
			width 45%
	.usage
		t-12()
		background-color $sgbg-usage
		color #666
		margin 10px 0
		padding 20px