@import "jeet";

.icon-block
	background-color: $text-white
	column(1/4, $cycle: 4)
	border-radius: 3px
	margin-top: 20px
	text-align: center
	.icon-name 
		border-bottom: 1px solid $text-light
		color: $text-med
		font-size: 14px
		padding: 15px 0
	.icon-example 
		border-bottom: 1px solid $text-light
		padding: 20px 0
		span:before 
			color: $text-med
			font-size: 2em
	.icon-unicode 
		color: $text-med
		font-size: 14px
		padding: 15px 0
.icon-block:nth-child(5n +1) 
	margin-right: 0

