
.color-chip {
	col(2/12)
	border-radius 3px
	margin-top 20px
	.color-swatch {
		height 100px
	}
	.color-description {
		background-color white
		padding 20px
		.variable {
			font-size 14px
			margin-bottom 5px
		}
			.hex {
				color #999999
				font-size 10px
				text-transform uppercase
			}
	}

}
.color-chip:nth-child(6n) {
	margin-right 0
}
