nav.sg-nav {
	background-color: #ffffff;
	border-right: 1px solid rgba(0, 0, 0, .33);
	bottom: 0;
	cursor: pointer;
	font-family: 'Roboto Condensed', sans-serif;
	left: 0;
	padding: 20px;
	position: absolute;
	top: 0;
	width: 200px;
	z-index: $z-left-nav;
	a {
		font-size: 14px;
		text-decoration: none;
		&:link, &:visited, &:active {
			color: #000;
		}
		&:hover {
			color: olive;
		}
		&.is-active {
			color: saddlebrown;
			font-weight: bold;
		}
	}
	.nav-title {
		font-family: 'Roboto', sans-serif;
		font-size: 18px;
		font-weight: bold;
	}
	ul {
		margin-top: 10px;
		li {
			padding: 5px 0;
			p {
				color: #cccccc;
				font-size: 16px;
				font-weight: bold;
				margin-top 10px;
			}
		}
	}
}

