@import "jeet";

.slider-container
	position relative
	.slides-container
		.slide
			.image
				width: 100%
				height 500px
			&.slide-1
				.image
					background: url(../../images/prin1-trustworthy-experiences.jpg) no-repeat top center;
					background-position-y 0
					background-size cover
			&.slide-2
				.image
					background: url(../../images/prin2-intuitive-interactions.jpg) no-repeat top center;
					background-position-y -60px
					background-size cover
					background-color #73ABD3
			&.slide-3
				.image
					background: url(../../images/prin3-users-are-humans.jpg) no-repeat top center;
					background-position-y -60px
					background-size cover
			&.slide-4
				.image
					background: url(../../images/prin4-simple-designs.jpg) no-repeat top center;
					background-position-y 0
					background-size cover
			&.slide-5
				.image
					background: url(../../images/prin5-design-for-users.jpg) no-repeat top center;
					background-position-y 0
					background-size cover
			.text
				column(12/14, $offset: 1/14)
				padding 20px 2.8%
				position relative
				width 79.6%
				&:before, &:after {
					cursor pointer
					font-family Icons
					font-size 24px
					font-weight normal
					color $text-dark
					position absolute
					top 27px
				}
				&:before
					content '\e060'
					left -7px
				&:after
					content '\e025'
					right -7px
				h1
					display inline-block
					font-family 'Roboto', sans-serif;
					font-size 24px
					font-weight bold
					line-height 22px
					padding 10px 0
					position relative
				p
					color rgba(0, 0, 0, 1 )
					font-size 18px
					line-height 23px
	//.slide-control
	//	height 50px
	//	position absolute
	//	top 530px
	//	width 50px
	//	.back, .forward
	//		&:before
	//			font-family Icons
	//			font-size 18px
	//			font-weight normal
	//			color $text-dark
	//			position absolute
	//			top 30px
	//	.back
	//		left 0
	//		&:before
	//			content '\e060'
	//	.forward
	//		right 0
	//		&:before
	//			content '\e025'

