@import "jeet"

.page-header
	font-family Arial, sans-serif
	height 80px
	padding 20px 0
	position fixed
	width 100%
	z-index $z-page-header
	&.home
		background-color $sgheader-bg-title
		color #f2f2f2
		.page-title
			color $sgheader-text-title
		.section-title span
			color $sgheader-text-sectiontitle

	&.atoms
		background-color $sgheader-bg-atoms
		color $sgheader-text-atoms

.section-title
	column(12/14, $offset: 1/14)
	color $sgheader-text-sectiontitle
	position absolute
	bottom 27px
	font-size 24px
	text-align right
	
	span
		


.page-title
	column(12/14, $offset: 1/14)
	bottom 20px
	font-family 'Roboto', sans-serif
	font-size 60px
	position absolute
	z-index 3
	

