nav.sg-nav 
	background-color #ffffff
	border-right 1px solid $sgnav-border
	bottom 0
	cursor pointer
	font-family 'Roboto Condensed', sans-serif
	left 0
	padding 20px
	position fixed
	top 0
	width 200px
	z-index $z-off-canvas-nav
	a
		t-14()
		text-decoration none
		&:link, &:visited, &:active
			color $sgnav-text-link
		
		&hover
			color $sgnav-text-hover
		
		&.is-active 
			color $sgnav-text-active
			font-weight bold
		
	
	.nav-title 
		font-family 'Roboto', sans-serif
		font-size 18px
		font-weight bold
	
	ul 
		margin-top 10px
		li 
			padding 5px 0
			p 
				color $sgnav-section-title
				font-size 16px
				font-weight bold
				margin-top 10px
			
		
	


