//
//.icon-block {
//	background-color: $white;
//	col(2/10);
//	border-radius: 3px;
//	margin-top: 20px;
//	text-align: center;
//	.icon-name {
//		border-bottom: 1px solid $gray-lt;
//		color: $gray-drk;
//		font-size: 14px;
//		padding: 15px 0;
//	}
//	.icon-example {
//		border-bottom: 1px solid $gray-lt;
//		padding: 20px 0;
//		span:before {
//			color: $gray-drk;
//			font-size: 2em;
//		}
//	}
//	.icon-unicode {
//		color: $gray-drk;
//		font-size: 14px;
//		padding: 15px 0;
//	}
//
//}
//.icon-block:nth-child(5n +1) {
//	margin-right: 0;
//}
