
      //////////////////////////////
      ///
      ///   Header Colors
      ///
      //////////////////////////////
        $sgheader-bg-title = rgba(0, 0, 0, .5);
    
        $sgheader-text-title = #ffffff;
    
        $sgheader-text-sectiontitle = rgba(255, 255, 255, .5);
    
        $sgheader-bg-atoms = #4D6649;
    
        $sgheader-text-atoms = #f2f2f2;
    
        $pagenav-link = #666666;
    
        $pagenav-hover = #1d63af;
    
        $sgcolor-text-hex = #999999;
    
      //////////////////////////////
      ///
      ///   Side Navigation Colors
      ///
      //////////////////////////////
        $sgnav-section-title = #cccccc;
    
        $sgnav-text-link = #000000;
    
        $sgnav-text-hover = #808000;
    
        $sgnav-text-active = #8b4513;
    
        $sgnav-border = rgba(0, 0, 0, .33);
    
      //////////////////////////////
      ///
      ///   Container Colors
      ///
      //////////////////////////////
        $sgbg-white = #ffffff;
    
        $sgbg-usage = #f8f8f8;
    
        $segment-title-bg = #f0f0f0;
    
